Data Carpentry Workshop  
August 15-16, 2019  
Smithsonian Castle Library

# Python: Data Types and Formats

This notebook contains material presented during Day 2 portion of Python. The official course materials are available here: https://datacarpentry.org/python-ecology-lesson/04-data-types-and-format/index.html

In [1]:
import pandas as pd

In [2]:
surveys_df = pd.read_csv('https://ndownloader.figshare.com/files/2292172')

In [3]:
type(surveys_df)

pandas.core.frame.DataFrame

`dtype('O')` = type Object = text (like a str in normal Python)

In [4]:
surveys_df['sex'].dtype

dtype('O')

In [5]:
surveys_df['record_id'].dtype

dtype('int64')

In [6]:
surveys_df.dtypes

record_id            int64
month                int64
day                  int64
year                 int64
plot_id              int64
species_id          object
sex                 object
hindfoot_length    float64
weight             float64
dtype: object

Convert from float to int, and convert from int to float. (These functions don't work with DataFrame columns.)

In [7]:
a = 7.83
b = 7

In [8]:
int(a)

7

In [9]:
float(b)

7.0

Convert DataFrame column data types with `df.astype()`.

In [10]:
surveys_df['record_id'] = surveys_df['record_id'].astype('float64')

surveys_df.head()

In [11]:
surveys_df['plot_id']=surveys_df['plot_id'].astype('float64')

In [12]:
surveys_df.dtypes

record_id          float64
month                int64
day                  int64
year                 int64
plot_id            float64
species_id          object
sex                 object
hindfoot_length    float64
weight             float64
dtype: object

You get an error when you attempt to do this: `ValueError: Cannot convert non-finite values (NA or inf) to integer`. Can't convert null values to numbers!

In [13]:
surveys_df['weight'] = surveys_df['weight'].astype('int64')

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3267, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-13-931e9a157131>", line 1, in <module>
    surveys_df['weight'] = surveys_df['weight'].astype('int64')
  File "C:\ProgramData\Anaconda3\lib\site-packages\pandas\util\_decorators.py", line 178, in wrapper
    return func(*args, **kwargs)
  File "C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py", line 5001, in astype
    **kwargs)
  File "C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\internals.py", line 3714, in astype
    return self.apply('astype', dtype=dtype, **kwargs)
  File "C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\internals.py", line 3581, in apply
    applied = getattr(b, f)(**kwargs)
  File "C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\internals.py", line 575, in astype
    **kwargs)
  File "C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\internals.py", line 664, in _astype
    values = astype_nansafe(values.ravel(), dtype, copy=True)
  File "C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\dtypes\cast.py", line 702, in astype_nansafe
    raise ValueError('Cannot convert non-finite values (NA or inf) to '
ValueError: Cannot convert non-finite values (NA or inf) to integer

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2018, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'ValueError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\ultratb.py", line 1095, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\ultratb.py", line 313, in wrapped
    return f(*args, **kwargs)
  File "C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\ultratb.py", line 347, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "C:\ProgramData\Anaconda3\lib\inspect.py", line 1500, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "C:\ProgramData\Anaconda3\lib\inspect.py", line 1458, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "C:\ProgramData\Anaconda3\lib\inspect.py", line 696, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "C:\ProgramData\Anaconda3\lib\inspect.py", line 733, in getmodule
    if ismodule(module) and hasattr(module, '__file__'):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py\_vendored_packages\apipkg.py", line 195, in __getattribute__
    return getattr(getmod(), name)
  File "C:\ProgramData\Anaconda3\lib\site-packages\py\_vendored_packages\apipkg.py", line 179, in getmod
    x = importobj(modpath, None)
  File "C:\ProgramData\Anaconda3\lib\site-packages\py\_vendored_packages\apipkg.py", line 69, in importobj
    module = __import__(modpath, None, None, ['__doc__'])
  File "C:\ProgramData\Anaconda3\lib\site-packages\pytest.py", line 8, in <module>
    from _pytest.config import cmdline
  File "C:\ProgramData\Anaconda3\lib\site-packages\_pytest\config\__init__.py", line 17, in <module>
    from pkg_resources import parse_version
  File "C:\ProgramData\Anaconda3\lib\site-packages\pkg_resources\__init__.py", line 3126, in <module>
    @_call_aside
  File "C:\ProgramData\Anaconda3\lib\site-packages\pkg_resources\__init__.py", line 3110, in _call_aside
    f(*args, **kwargs)
  File "C:\ProgramData\Anaconda3\lib\site-packages\pkg_resources\__init__.py", line 3139, in _initialize_master_working_set
    working_set = WorkingSet._build_master()
  File "C:\ProgramData\Anaconda3\lib\site-packages\pkg_resources\__init__.py", line 572, in _build_master
    ws = cls()
  File "C:\ProgramData\Anaconda3\lib\site-packages\pkg_resources\__init__.py", line 565, in __init__
    self.add_entry(entry)
  File "C:\ProgramData\Anaconda3\lib\site-packages\pkg_resources\__init__.py", line 621, in add_entry
    for dist in find_distributions(entry, True):
  File "C:\ProgramData\Anaconda3\lib\site-packages\pkg_resources\__init__.py", line 1968, in find_on_path
    for dist in factory(fullpath):
  File "C:\ProgramData\Anaconda3\lib\site-packages\pkg_resources\__init__.py", line 2038, in distributions_from_metadata
    root, entry, metadata, precedence=DEVELOP_DIST,
  File "C:\ProgramData\Anaconda3\lib\site-packages\pkg_resources\__init__.py", line 2495, in from_location
    py_version=py_version, platform=platform, **kw
  File "C:\ProgramData\Anaconda3\lib\site-packages\pkg_resources\__init__.py", line 2870, in _reload_version
    md_version = _version_from_file(self._get_metadata(self.PKG_INFO))
  File "C:\ProgramData\Anaconda3\lib\site-packages\pkg_resources\__init__.py", line 2459, in _version_from_file
    line = next(iter(version_lines), '')
  File "C:\ProgramData\Anaconda3\lib\site-packages\pkg_resources\__init__.py", line 2649, in _get_metadata
    for line in self.get_metadata_lines(name):
  File "C:\ProgramData\Anaconda3\lib\site-packages\pkg_resources\__init__.py", line 1414, in get_metadata_lines
    return yield_lines(self.get_metadata(name))
  File "C:\ProgramData\Anaconda3\lib\site-packages\pkg_resources\__init__.py", line 1410, in get_metadata
    value = self._get(self._fn(self.egg_info, name))
  File "C:\ProgramData\Anaconda3\lib\site-packages\pkg_resources\__init__.py", line 1522, in _get
    with open(path, 'rb') as stream:
PermissionError: [Errno 13] Permission denied: 'c:\\programdata\\anaconda3\\lib\\site-packages\\Django-2.1.7-py3.7.egg-info\\PKG-INFO'

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [14]:
surveys_df.head()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1.0,7,16,1977,2.0,NL,M,32.0,NaN
1,2.0,7,16,1977,3.0,NL,M,33.0,NaN
2,3.0,7,16,1977,2.0,DM,F,37.0,NaN
3,4.0,7,16,1977,7.0,DM,M,36.0,NaN
4,5.0,7,16,1977,3.0,DM,M,35.0,NaN

In [15]:
surveys_df['weight'].mean()

42.672428212991356

`null_weight` is a **boolean mask**; it will return a series of TRUE and FALSE values for each row, depending on whether weight is null. YOu can supply a DataFrame with this boolean mask to filter it. It will return only results where the row value is TRUE. `len()` provides a count of the rows in the DataFrame.

In [16]:
null_weight = pd.isnull(surveys_df.weight)

In [17]:
len(surveys_df[null_weight])

3266

`.copy()` creates a unique, new copy of a DataFrame. If you don't use copy, you're just creating a new reference to an existing DataFrame (and you could accidentally edit your original DF you didn't mean to edit).

In [18]:
df1 = surveys_df.copy()

`fillna()` allows you to specify a value to use to automatically fill in all NaNs or nulls.

df1['weight'] = df1['weight'].fillna(0)

In [19]:
df1.head()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1.0,7,16,1977,2.0,NL,M,32.0,NaN
1,2.0,7,16,1977,3.0,NL,M,33.0,NaN
2,3.0,7,16,1977,2.0,DM,F,37.0,NaN
3,4.0,7,16,1977,7.0,DM,M,36.0,NaN
4,5.0,7,16,1977,3.0,DM,M,35.0,NaN

Notice that once NaNs have been replaced by 0.0, the mean of the weight column is affected.

In [20]:
df1.weight.mean()

42.672428212991356

In the weight column, set any null values equal to the mean weight for all observations in surveys_df. This way, the values will not affect the calculation of the mean. This is **not** always the correct solution for dealing with NaN values; this is just one thing that can be done.

In [21]:
df1 = surveys_df.copy()

In [22]:
df1['weight'] = df1['weight'].fillna(surveys_df['weight'].mean())

In [23]:
df1.head()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1.0,7,16,1977,2.0,NL,M,32.0,42.672428
1,2.0,7,16,1977,3.0,NL,M,33.0,42.672428
2,3.0,7,16,1977,2.0,DM,F,37.0,42.672428
3,4.0,7,16,1977,7.0,DM,M,36.0,42.672428
4,5.0,7,16,1977,3.0,DM,M,35.0,42.672428

*Challenge question*: Count the number of missing values per column. Hint: The method .count() gives you the number of non-NA observations per column. Try looking to the .isnull() method.

In [24]:
surveys_df.isnull().sum()

record_id             0
month                 0
day                   0
year                  0
plot_id               0
species_id          763
sex                2511
hindfoot_length    4111
weight             3266
dtype: int64

`dropna()` removes all rows from a DataFrame that have any null values in them (in any field).

In [25]:
df_na = surveys_df.dropna()

In [26]:
df_na.head()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
62,63.0,8,19,1977,3.0,DM,M,35.0,40.0
63,64.0,8,19,1977,7.0,DM,M,37.0,48.0
64,65.0,8,19,1977,4.0,DM,F,34.0,29.0
65,66.0,8,19,1977,4.0,DM,F,35.0,46.0
66,67.0,8,19,1977,7.0,DM,M,35.0,36.0

The `to_csv()` DataFrame method allows you to export a DataFrame as a CSV. You can specify a file name or a file path. `index=False` tells Pandas to remove the DataFrame index before exporting.

In [27]:
df_na.to_csv('surveys_complete.csv', index=False)